{% extends '@YesknMain/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-file-text"></i> {{ 'about_site'|trans }}
                </div>
                <div class="panel-body">

                    {% set locale = app.request.locale %}
                    {% if locale == 'en' %}
                        <p>

                        </p>
                    {% elseif locale == 'jp'  %}
                        <p>

                        </p>
                        <p></p>
                    {% elseif locale == 'zh_TW' %}
                        <p>

                        </p>
                    {% else %}
                        <p>

                        </p>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
